

    padding: 28px;
  transform: translate(-50%,-50%);
  left: 50%;
  top: 75%;
  z-index: 1; 
  background-color: peachpuff; 
  color: rgb(80, 44, 179);
}


form {
  display: flex;
  align-items: center;
  justify-content: center;
}

label {
  font-size: 1.2rem;
  margin-right: 1rem;
}
h1{
  font-size: 30px;
  color: purple;
  font-style: italic;
}

input[type="text"] {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
  outline: none;
  box-shadow: none;
  transition: all 0.3s ease;
}

input[type="text"]:focus {
  border-color: #555;
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.1);
}

button[type="submit"] {
  padding: 0.5rem 1rem;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
  transition: all 0.3s ease;
}

button[type="submit"]:hover {
  background-color: #555;
}

.btn1
 { border-radius: 12px;
 background-color: #c30dae;/* Green */
border-color: rgb(21, 22, 22);
}
.btn3
 { border-radius: 12px;
 background-color: #4CAF50;/* Green */
border-color: rgb(1, 6, 11);
}
